<html>
    <head>
        Product info
    </head>
    <body>
    
        <table border = 1>

            <tr>
                <th>PRODUCT NAME</th>
                <th>CATEGORY</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th>DISCOUNT PRICE</th>
                <th>REMOVE</th>
            </tr>

            {% for product in productDetails %}
            <tr>
                
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td>{{ product[4] }}</td>
                <td>
                    <form action="/display" method= "post">
                        <button type="submit" value="remove" class="btn_3">
                        REMOVE PRODUCT
                    </button>
                    </form>
                </td>
            
            </tr>
                         
                         {% endfor %}
            
            </table>
            
            

    </body>
</html>