<html>
    <head>INFO page</head>
        <body>
            <h1>INFORMATION</h1>
            <p>Here's a list of  your Tasks
            </p>
            <h1>Tasks</h1>
            <table>
               <tr>
                   <th>Email-id</th>
                   <th>Login date</th>
               </tr>

                {% for task in tasks %}
                <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.date }} </td>
                </tr>

             {% endfor %}
              </table>

                 <a href="/login">Login Page</a><br>
                 <a href="/account">Accounts</a><br>
                 <a href="/submission">submission page</a>
        </body>
        
</html>