<html>
    <head>product upload confirmation</head>
        <body>
        
            
<h1>Items</h1>
             
                 <table style="width:100%">
<tr>
    <th>Product id</th>
    <th>product Name</th>
    <th>Category</th>
    <th>Brand</th>
    <th>Price</th>
</tr>
             {% for product in prods %}
                
             <tr>
                 <td>{{ product.prodid }} </td> 
                 <td> {{ product.pname }}</td>
                 <td> {{ product.category }} </td>
                 <td> {{ product.brand }} </td>     
                 <td> {{ product.price }}</td>
    

                 </tr>
             {% endfor %}

</table>


                 <a href="/login">Login Page</a><br>
                 <a href="/products">Products</a>
        </body>
        
</html>