<html>
    <head>Available Product details</head>
        <body>
            <h1>Products available</h1>
            <p>You'll be redirected to database page</p>
            <form action="/account" method="post">
                
                {{ form.csrf_token }}
                
                {{ form.pname.label}}
                {{ form.pname }}<br>

                <label for= "category"> Choose a category</label>
                <select name= "category", id="category">
                <option value="stationery">Stationery</option>
                <option value="gadgets">Tech gadgets</option>
                <option value="loco">Locomotives</option>
                <option value="daily use">Daily-use Appliances</option>
                <option value="other">Other Stuff</option>
                </select>
                <br>   

                {{ form.price.label}}
                {{ form.price }}<br>

                {{ form.brand.label}}
                {{ form.brand }}<br>
                
                {{ form.submit }}
            
            </form>
    
        

        <a href="/login">Login page</a><br>
        <a href="/newentry">Submit page</a>

    </body>
        
</html>